

.heading{
    float:left;
    color:white;
    font-family: 'Lato';
    font-size: 70px;
    margin:10px;
    overflow: auto;
    
    
}

.picheader{
  
  border-radius: 50%;
  display: block;
  width:100px;
  margin-left: 10px;
  float:right;
}

h1{
  margin:10px;
}

#video-container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}
    
.tab{
  margin-right:10px;
}

.tablinks{
  padding: 12px 18px;
  color:white;
  float:right;
margin-top:20px;
background: rgba(255, 255, 255, 0);
border: solid white 1px;
margin-left:5px;
margin-right:5px;

}

.tablinks:hover{
  background-color:white;
  color:black;
}
  
.tabcontent {
  display: none;
  overflow:auto;
  background: rgba(0, 0, 0, 0.336); 
  width: 100%;
  height:100vh;  
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}

}


ul{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto; 
  display:block;
  width: 20%;
  list-style-position: none;

}


.name{
  margin-left:5px;
  margin-bottom:10px;
  font-size:90px;
  text-align:center;
  color:white;
}

.picofme{
  
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.info{
   margin-left:15px;
   float:left;
   font-size: 25px;
   
   
    
}

.frontimg{
  float:right;  
  width:50%;
  margin-right: 50px;
  margin-bottom: 50px;
  height:320px;
  width:500px;
 

}

.weblink{
  padding: 12px 18px;
  color:black;
background: rgba(231, 19, 29, 0.671);
border: solid white 1px;
margin-left:5px;
margin-right:5px;
list-style-type: none;
text-decoration: none;
}

.weblink:hover{
  background: rgba(231, 19, 30, 0.877);
  
}
a:link{
  text-decoration: none;
}